@media (min-width: 768px) {
  .wrap {
    max-width: 918px;
    margin: auto;
  }
}
.wrap .members {
  max-width: 774px;
  margin: auto;
}
.wrap .members .member {
  display: flex;
  margin-bottom: 42px;
}
.wrap .members .member .img {
  width: 210px;
}
@media (max-width: 767px) {
  .wrap .members .member .img {
    max-width: 89px;
  }
}
.wrap .members .member .text {
  color: #1C73DB;
  width: 476px;
}
@media (max-width: 767px) {
  .wrap .members .member .text {
    width: 80%;
  }
}
.wrap .members .member .text h2 {
  position: relative;
}
.wrap .members .member .text h2.name {
  font-size: 32px;
  border-bottom: 2px solid #1C73DB;
  font-weight: bold;
  padding-left: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .wrap .members .member .text h2.name {
    font-size: 18px;
  }
}
@media (max-width: 360px) {
  .wrap .members .member .text h2.name {
    font-size: 13px;
  }
}
.wrap .members .member .text h2 span.twitter {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
@media (max-width: 767px) {
  .wrap .members .member .text h2 span.mini {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .wrap .members .member .text h2 span.mini {
    font-size: 10px;
  }
}
.wrap .members .member .text h2 span a {
  display: block;
  line-height: 0;
}
.wrap .members .member .text h2 span a img {
  width: 40px;
  height: 32px;
}
@media (max-width: 767px) {
  .wrap .members .member .text h2 span a img {
    width: 24px;
    height: 20px;
  }
}
.wrap .members .member .text p {
  text-align: center;
}
.wrap .members .member .text p.post {
  font-size: 24px;
}
@media (max-width: 767px) {
  .wrap .members .member .text p.post {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .wrap .members .member .text p.post {
    font-size: 13px;
  }
}
.wrap .members .otherMembers {
  border: 2px solid #1C73DB;
  background-color: #fff;
  position: relative;
  display: flex;
  padding: 32px 0;
}
.wrap .members .otherMembers::before {
  content: "";
  background-image: url(/under/Members/logobg.svg);
  background-size: contain;
  width: 392px;
  height: 392px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
  .wrap .members .otherMembers::before {
    width: 259px;
    height: 259px;
  }
}
.wrap .members .otherMembers .right, .wrap .members .otherMembers .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap .members .otherMembers .left {
  border-right: 2px #1C73DB dashed;
}
.wrap .members .otherMembers .left h3:last-child {
  margin-bottom: 0;
}
.wrap .members .otherMembers h3 {
  color: #1C73DB;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .wrap .members .otherMembers h3 {
    font-size: 18px;
  }
}
@media (max-width: 360px) {
  .wrap .members .otherMembers h3 {
    font-size: 13px;
  }
}

.sec02 {
  border-top: 4px dotted #1c73db;
  margin-top: 127px;
}
.sec02 .company {
  max-width: 774px;
  margin: auto;
  padding-bottom: 160px;
}
.sec02 .company table {
  color: #303A56;
  font-size: 24px;
  width: 100%;
  text-align: left;
}
@media (max-width: 767px) {
  .sec02 .company table {
    font-size: 15px;
  }
}
@media (max-width: 360px) {
  .sec02 .company table {
    font-size: 13px;
  }
}
.sec02 .company table th, .sec02 .company table td {
  border-bottom: 2px #1C73DB dashed;
  padding: 20px 0;
}
@media (max-width: 767px) {
  .sec02 .company table th, .sec02 .company table td {
    padding: 15px 0;
  }
}
.sec02 .company table th {
  font-weight: normal;
  width: 40%;
  padding-left: 40px;
}
@media (max-width: 767px) {
  .sec02 .company table th {
    width: 30%;
    padding-left: 15px;
  }
}
.sec02 .company table td {
  width: 60%;
  padding-right: 40px;
}
@media (max-width: 767px) {
  .sec02 .company table td {
    width: 70%;
    padding-right: 10px;
  }
}
.sec02 .company table tr:last-child td, .sec02 .company table tr:last-child th {
  border-bottom: none;
}
/*# sourceMappingURL=Members.module.css.map */