.wrap{
    @media (min-width: 768px) {
        max-width: 918px;
        margin: auto;
    }
    .members{
        max-width: 774px;
        margin: auto;
        .member{
            display: flex;
            margin-bottom: 42px;
            .img{
                width: 210px;
                @media (max-width: 767px) {
                    max-width: 89px;
                }
            }
            .text{
                color:#1C73DB;
                width: 476px;
                @media (max-width: 767px) {
                    width: 80%;
                }
                h2{
                    position: relative;
                    &.name{
                        font-size: 32px;
                        @media (max-width: 767px) {
                            font-size: 18px;
                        }
                        @media (max-width: 360px) {
                                font-size: 13px;
                        }
                        border-bottom:2px solid #1C73DB;
                        font-weight: bold;
                        padding-left: 20px;
                        padding-bottom: 10px;
                        margin-bottom: 10px;
                    }
                    span{
                        &.twitter{
                            position: absolute;
                            right: 0;
                            top:50%;
                            transform: translateY(-50%);
                            -webkit-transform: translateY(-50%);
                            -ms-transform: translateY(-50%);
                        }
                        &.mini{
                            @media (max-width: 767px) {
                                font-size: 14px;
                            }
                            @media (max-width: 767px) {
                                font-size: 10px;
                            }
                        }
                        a{
                            display: block;
                            line-height: 0;
                            img{
                                width: 40px;
                                height: 32px;
                                @media (max-width: 767px) {
                                    width: 24px;
                                    height: 20px;
                                }
                            }
                        }
                    }
                }
                p{
                    text-align: center;
                    &.post{
                        font-size: 24px;
                        @media (max-width: 767px) {
                            font-size: 16px;
                        }
                        @media (max-width: 767px) {
                                font-size: 13px;
                        }
                    }
                }
            }
        }
        .otherMembers{
            border: 2px solid #1C73DB;
            background-color: #fff;
            position: relative;
            display: flex;
            padding: 32px 0;
            &::before{
                content:'';
                background-image: url(/under/Members/logobg.svg);
                background-size: contain;
                width: 392px;
                height: 392px;
                @media (max-width: 767px) {
                    width: 259px;
                    height: 259px;
                }
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
            }
            .right,.left{
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .left{
                border-right: 2px #1C73DB dashed;
                h3:last-child{
                    margin-bottom: 0;
                }
            }
            h3{
                a{
                    display: block;
                    color: #1C73DB;
                    font-size: 32px;
                    @media (max-width: 767px) {
                        font-size: 18px;
                    }
                    @media (max-width: 360px) {
                        font-size: 13px;
                    }
                    font-weight: bold;
                    margin-bottom: 20px;
                }
                
            }
        }
    }
}
.sec02{
    border-top: 4px dotted #1c73db;
    margin-top: 127px;
    .company{
        max-width: 774px;
        margin: auto;
        padding-bottom: 160px;
        table{
            color:#303A56;
            font-size: 24px;
            @media (max-width: 767px) {
                font-size: 15px;
            }
            @media (max-width: 360px) {
                font-size: 13px;
            }
            width: 100%;
            text-align: left;
            // border-collapse: collapse;
            th,td{
                border-bottom: 2px #1C73DB dashed;
                padding:20px 0;
                 @media (max-width: 767px) {
                    padding:15px 0;
                }
            }
            th{
                font-weight: normal;
                width: 40%;
                padding-left: 40px;
                @media (max-width: 767px) {
                   width: 30%;
                    padding-left: 15px;
                }
            }
            td{
                width: 60%;
                padding-right: 40px;
                @media (max-width: 767px) {
                    width: 70%;
                    padding-right: 10px;
                }
            }
            tr:last-child td,tr:last-child th{
                border-bottom: none;
            }
        }
    }
}