body{
    &.no-scroll{
        overflow: hidden;
    }
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #EEF2F7;
    -webkit-font-smoothing: antialiased;
    a{
        text-decoration: none;
        &.discordLink{
            display: block;
            background-color: #1C73DB;
            width: 100%;
            padding: 12px 0;
            max-width: 208px;
            margin: auto;
            border-radius: 20px;
            text-align: center;
            font-size: 16px;
            color:#fff;
            font-weight: bold;
            position: relative;
            transition: .4s ease;
            padding-right: 25px;
            &.top{
                margin-top: 24px;
            }
            &.metabatch{
                @media (max-width:767px){
                    margin-bottom: 24px;
                }
            }
            &:hover{
                opacity: .7;
                transition: .4s ease;
            }
            &::after{
                content:'';
                position: absolute;
                top: 50%;
                right: 10%;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                background-image: url(/newWindowF.svg);
                background-repeat: no-repeat;
                background-size: contain;
                width: 16px;
                height: 16px;
            }
        }
        &.btn01{
            display: block;
            background-color: #fff;
            width: 100%;
            padding: 15.5px 0;
            max-width: 320px;
            margin: auto;
            border: 2px solid #1C73DB;
            border-radius: 5px;
            text-align: center;
            font-size: 24px;
            color:#1C73DB;
            font-weight: bold;
            position: relative;
            transition: .4s ease;
            &:hover{
                background-color: #303A56;
                border: 2px solid #303A56;
                color:#fff;
                transition: .4s ease;
            }
            &:hover::after{
                background-image: url(/newWindowF.svg);
            }
            &::after{
                content:'';
                position: absolute;
                top: 50%;
                right: 10%;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                background-image: url(/newWindowB.svg);
                background-repeat: no-repeat;
                background-size: contain;
                width: 25px;
                height: 25px;
            }
        }
        &.guide-line{
            display: block;
            background-color: #fff;
            width: 100%;
            padding: 10px 0;
            max-width: 256px;
            margin: auto;
            border-radius: 20px;
            text-align: center;
            font-size: 16px;
            color:#1C73DB;
            border: 2px solid #1C73DB;
            font-weight: bold;
            position: relative;
            transition: .4s ease;
            &.top{
                margin-top: 8px;
                @media(min-width: 575px) and (max-width:1199px){
                    margin-left: 0;
                    margin-right: auto;
                }
            }
            &.metabach{
                margin-top: 24px;
            }
            &:hover{
                background-color: #303A56;
                border: 2px solid #303A56;
                color:#fff;
                transition: .4s ease;
            }
        }
    }
    ul{
        list-style: none;
    }
    button{
        background: none;
        border: none;
        display: block;
        line-height: 0;
        cursor: pointer;
        &:hover{
            opacity: .7;
        }
        &.newOrder{
            display: block;
            width: 100%;
            max-width: 320px;
            margin: auto;
            transition: .4s ease;
            &:hover{
                opacity: .7;
                transition: .4s ease;
            }
        }
        &.videoThum{
            position: relative;
            transition: .4s ease;
            margin: auto;
            width: 100%;
            @media (min-width: 768px) {
                max-width: 670px;
            }
            &.hidden{
                opacity: 0;
                transition: .4s ease;
            }
            &.metabach{
                margin-bottom: 30px;
            }
            &::before{
                content:'';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                background-image: url(/video-play.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 70px;
                height: 70px;
                opacity: .8;
            }
        }
    }
    img{
        width: 100%;
        height: auto;
        vertical-align: bottom;
    }
    h2{
        font-weight: bold;
        font-size: 24px;
        @media (min-width: 575px) {
            font-size: 32px;
        }
        @media (min-width: 768px) {
            font-size: 40px;
        }
        span{
            &.en{
                display: block;
                font-size: 16px;
                margin-bottom: 10px;
                @media (min-width: 575px) {
                    font-size: 24px;
                }
            }
            &.color{
                color: #1C73DB;
            }
        }
        &.h2-blue{
            color:#1C73DB;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            line-height: 35px;
            @media (min-width: 768px) {
                font-size: 24px;
            }
        }
    }
    p{
        text-align: justify;
    }
    p.base16{
        font-size: 16px;
        &.top{
            color:#303A56;
            text-align: center;
            margin-top: 20px;
            line-height: 1.8;
            @media (min-width: 575px) {
                margin-top: 50px;
            }
            @media (min-width: 768px) {
                max-width: 762px;
                margin: 50px auto 0;
            }
            @media (min-width: 1200px) {
                max-width: 1096px;
            }
        }
    }
    .container{
        width: 100%;
        margin: auto;
        padding:0 25px;
        @media (min-width: 1500px) {
            max-width: 1320px;
        }
    }
}
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
.spOnly{
    @media (min-width: 575px) {
       display: none;
    }
}
.tab-only{
    @media (min-width: 768px) {
        display: none;
     }
}
.pcOnly{
    @media (max-width: 574px) {
       display: none;
    }
}
header{
    height: 100px;
    border-bottom:1px solid #8F98C6;
    .header-container {
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;
        padding: 0px 20px;
        position: relative;
        @media (min-width: 769px) {
            flex-direction: row-reverse;
        }
        @media (min-width: 992px) {
            padding: 0px 90px;
        }
        .logo-area {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media (min-width: 575px) {
                width: 245px;
            }
            @media (min-width: 769px) {
                width: 219px;
            }
            @media (min-width: 1500px) {
                width: 349px;
            }
            .metavelive-logo-box {
                width: 127px;
                @media (max-width: 574px) {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                }
                @media (max-width: 374px) {
                   width: 100px;
                }
                @media (min-width: 769px) {
                    width: 114px;
                }
                @media (min-width: 1500px) {
                    width: 155px;
                }
            }
            .logo-box {
                 width: 117px;
                @media (max-width: 574px) {
                   position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                }
                @media (max-width: 374px) {
                   width: 100px;
                }
                @media (min-width: 769px) {
                    width: 105px;
                }
                @media (min-width: 1500px) {
                    width: 143px;
                }
            }
        }
        .menu-box {
            position: relative;
            z-index: 1;
            button{
                @media (min-width: 769px) {
                    display: none;
                }
            }
            nav{
                display: none;
                @media (min-width: 769px) {
                    display:block;
                }
                ul{
                   &.main{
                        width: 424px;
                        height: 18px;
                   }
                    display: flex;
                    justify-content: space-between;
                    li{
                        &:first-child{
                            position: relative;
                            &::after{
                                content: "";
                                width: 8px;
                                height: 8px;
                                border-top: solid 2px #303A56;
                                border-right: solid 2px #303A56;
                                position: absolute;
                                right: -20px;
                                transform: rotate(135deg);
                                top: 5px;
                                transition: 0.6s ease;
                            }
                        }
                        &:first-child:hover::after{
                            transform: rotate(-45deg);
                            transition: .6s ease;
                        }
                        &:first-child:hover .sub{
                            opacity: 1;
                            transition: .6s ease;
                            visibility: visible;
                        }
                        a{
                            color: #303A56;
                            font-weight: bold;
                            letter-spacing: .4px;
                            &:hover{
                                color:#8F98C6;
                                text-decoration: underline;
                            }
                        }
                        .sub{
                            visibility: hidden;
                            display: block;
                            position: absolute;
                            top:60px;
                            right: 0;
                            opacity: 0;
                            transition: 1s ease;
                            li{
                                &:first-child{
                                    &::after{
                                        content:none;
                                    }
                                }
                                a{
                                    color: #303A56;
                                    border:1px solid #DDDDDD;
                                    height: 77px;
                                    line-height: 77px;
                                    margin-bottom: 1px;
                                    width: 270px;
                                    background-color: rgb(255,255,255,.8);
                                    text-align: center;
                                    display: block;
                                    &:hover{
                                        color:#8F98C6;
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .menu-content {
        @media (min-width: 769px) {
            display: none;
        }
        position: fixed;
        top:100px;
        left: 0;
        width: 100%;
        height: calc(100vh - 100px);
        background-color: rgb(255,255,255,.9);
        z-index: 1;
        &.enter {
            opacity: 0;
        }
        &.enterActive {
            opacity: 1;
            transition: opacity 0.5s ease;
        }
        &.exit {
            opacity: 1;
        }
        &.exitActive {
            opacity: 0;
            transition: opacity 0.5s ease;
        }
        ul{
            &.main{
            padding-left: 55px;
            padding-top: 42px;
                li{
                    margin-bottom: 47px;
                    a{
                        color: #000;
                    }
                }
            }
        }
        li{
            ul{
                &.sub{
                    li{
                        padding-left: 15px;
                        margin-top: 21px;
                        margin-bottom:0;
                        &:first-child{
                            margin-top: 8px;
                        }
                        a{
                            color: #1C73DB;
                        }
                    }
                }
            }
            a{
                font-weight: bold;
                letter-spacing: .4px;
            }
        }
        .header-sns{
            background-color: #111940;
            height: 90px;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            .box{
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: 258px;
                margin: auto;
                height: 100%;
                width: 100%;
            }
        }
    }
}
.modalUp{
    &.enter {
        opacity: 0;
    }
    &.enterActive {
        opacity: 1;
        transition: opacity 0.5s ease;
    }
    &.exit {
        opacity: 1;
    }
    &.exitActive {
        opacity: 0;
        transition: opacity 0.5s ease;
    }
}
.section-margin{
    margin-top: 50px;
    @media (min-width: 575px) {
        margin-top: 70px;
    }
    @media (min-width: 768px) {
        margin-top: 115px;
    }
    @media (min-width: 1200px) {
        margin-top: 150px;
    }
}
.underPage-h1{
    font-size: 24px;
    color:#303A56;
    line-height: 37px;
    margin-top: 24px;
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 30px;
    @media (min-width: 575px) {
        font-size: 32px;
        margin-top: 50px;
        margin-bottom: 50px;
        padding-bottom: 50px;
    }
    @media (min-width: 768px) {
        font-size: 40px;
    }
    span{
        display: block;
        line-height: 23px;
        font-size: 16px;
        color:#1C73DB;
        margin-bottom: 6px;
    }
    &::before{
        content:'';
        position: absolute;
        bottom:0;
        left:-25px;
        background-image: url(/under/h1deco-sp.svg);
        background-repeat: no-repeat;
        width: 313px;
        height: 23px;
        @media (min-width: 768px) {
            background-image: url(/under/h1deco-pc.svg);
            width: 371px;
            right: 0;
        }
    }
}
.site-h3{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    @media (min-width: 575px) {
        margin-bottom: 55px;
    }
    @media (min-width: 768px) {
        margin-bottom: 64px;
    }
    h3{
        font-weight: bold;
        font-size: 24px;
        text-align: center;
        color:#1C73DB;
        margin: 0 20px;
    }
    &::before{
        content:'';
        border-top: 4px dotted #1C73DB;
        width: 100%;
    }
    &::after{
        content:'';
        border-top: 4px dotted #1C73DB;
        width: 100%;
    }
}
.link-flex-box{
    @media(min-width: 1200px) {
        display: flex;
        justify-content: space-between;
    }
    .box{
        margin-bottom: 35px;
        @media(min-width: 575px) and (max-width:1199px){
            display: flex;
            justify-content: space-between;
        }
        @media (min-width: 1200px) {
            width: 32%;
        }
        .img{
            width: 100%;
            @media(min-width: 575px) and (max-width:1199px){
               width: 48%;
            }
            a{
                transition: .4s ease;
                &:hover{
                    opacity: .7;
                }
            }
        }
        .text{
            width: 100%;
            @media(min-width: 575px) and (max-width:1199px){
                width: 48%;
             }
            .title-style{
                a{
                    color:#303A56;
                }
                font-size: 16px;
                font-weight: bold;
                line-height: 23px;
                padding-left: 25px;
                position: relative;
                margin-top: 10px;
                margin-bottom: 5px;
                @media(min-width: 575px) and (max-width:1199px){
                    margin-top: 0;
                }
                @media (min-width: 575px) {
                    font-size: 24px;
                    line-height: 37px;
                }
                &::before{
                    content:'';
                    position: absolute;
                    top: 50%;
                    left: 0%;
                    transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    background-image: url(/top/h4.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 17px;
                    height: 17px;
                }
            }
            p{
                font-size: 14px;
                @media (min-width: 1200px) {
                    font-size: 16px;
                }
            }
        }
    }
}
.twitter-link{
    display: block;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: #fff;
    color:#303A56;
    border-radius: 20px;
    border: 2px solid #1B9DF0;
    &.metavelive{
        @media (min-width: 575px) {
            max-width: 347px;
            margin: auto;
        }
        @media (min-width: 991px) {
            margin: -90px 0 0 auto;
        }
    }
    span{
        position: relative;
        &::before{
            content:'';
            position: absolute;
            left: -30px;
            top:50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            background-image: url(/hov-tw.svg),url(/defa-tw.svg);
            background-repeat: no-repeat;
            background-size: contain,0 0;
            width: 20px;
            height: 17px;
        }
    }
}
.footer{
    background-color: #111940;
    padding-top: 45px;
    .sns-flame{
        display: flex;
        justify-content: space-between;
        max-width: 230px;
        margin: auto;
        width: 100%;
        align-items: center;
        margin-bottom: 22px;
        @media(min-width: 575px) {
            margin-bottom: 40px;
        }
        @media(min-width: 768px) {
            margin-bottom: 70px;
        }
        @media(min-width: 1200px) {
            margin-bottom: 100px;
            max-width: 265px;
        }
        .icon{
            a{
                transition: 0.3s ease;
                display: block;
                background-repeat: no-repeat;
                background-size:contain,0 0;
                &:hover{
                    transition: 0.3s ease;
                    background-size:0 0,contain;
                }
                &.twitter {
                    background-image:url(/defa-tw.svg),url(/hov-tw.svg);
                    width: 23px;
                    height: 20px;
                }
                &.instagram {
                    background-image:url(/defa-insta.svg),url(/hov-insta.svg);
                    width: 23px;
                    height: 23px;
                }
                &.discord {
                    background-image: url(/defa-discord.svg),url(/hov-discord.svg);
                    width: 24px;
                    height: 17px;
                }
                &.tiktok {
                    background-image: url(/defa-tiktok.svg),url(/hov-tiktok.svg);
                    width: 20px;
                    height: 25px;
                }
                &.opensea {
                    background-image: url(/defa-open.svg),url(/hov-open.svg);
                    width: 23px;
                    height: 23px;
                }
                &.rarible{
                    background-image: url(/defa-rarible.svg),url(/hov-rarible.svg);
                    width: 30px;
                    height: 29px;
                }
                &.line {
                    background-image: url(/defa-line.svg),url(/hov-line.svg);
                    width: 32px;
                    height: 32px;
                }
                &.magiceden {
                    background-image: url(/defa-magiceden.svg),url(/hov-magiceden.svg);
                    width: 33px;
                    height: 20px;
                }
            }
        }
    }
    .footer-menu{
        padding-left: 50px;
        @media (min-width: 1200px) {
            padding-left: 0;
            max-width: 1100px;
            margin: auto;
        }
        nav{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            ul{
               &.box{
                    width: 100%;
                    @media (min-width: 575px) {
                        width: 50%;
                        &.order02{
                            order:3;
                        }
                        &.order03{
                            order:2;
                        }
                    }
                    @media (min-width: 1200px) {
                        width: 30%;
                        &.order02{
                            order:2;
                            text-align: center;
                            width: auto;
                            li{
                                text-align: left;
                            }
                        }
                        &.order03{
                            order:3;
                            text-align: right;
                        }
                    }
               }
               &.sub{
                    margin-top: -20px;
                    padding-left: 20px;
                    @media(min-width: 1200px) {
                        margin-top: -10px;
                    }
                    a{
                        @media(min-width: 768px) {
                            font-weight:normal;
                        }
                    }
               }
               li{
                    a{
                        font-size: 14px;
                        color: #fff;
                        line-height: 20px;
                        margin-bottom: 22px;
                        display: block;
                        @media(min-width: 768px) {
                            font-size: 16px;
                            font-weight: bold;
                        }
                    }
               }
            }
        }
    }
    .footer-logo{
        text-align: center;
        padding-bottom: 16px;
        @media(min-width: 575px) {
            padding-bottom: 30px;
        }
        img{
            display: block;
            max-width: 52px;
            margin: auto;
            @media(min-width: 768px) {
                max-width: 78px;
                margin: 25px auto 0;
            }
        }
    }
}
.dushed-box{
    margin-top: 37px;
    border-top: 4px dotted #1C73DB;
    padding-top: 32px;
    padding-bottom: 42px;
}
main{
    animation: fadeIn 2s ease 0s 1 normal;
}
@keyframes fadeIn { 
        from {
            opacity: 0;
            transform: translateY(-5px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }