body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
  background-color: #EEF2F7;
  -webkit-font-smoothing: antialiased;
}
body.no-scroll {
  overflow: hidden;
}
body a {
  text-decoration: none;
}
body a.discordLink {
  display: block;
  background-color: #1C73DB;
  width: 100%;
  padding: 15.5px 0;
  max-width: 208px;
  margin: auto;
  border-radius: 20px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  position: relative;
  transition: 0.4s ease;
  padding-right: 25px;
}
body a.discordLink.top {
  margin-top: 24px;
}
body a.discordLink:hover {
  opacity: 0.7;
  transition: 0.4s ease;
}
body a.discordLink::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  background-image: url(/newWindowF.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
}
body a.btn01 {
  display: block;
  background-color: #fff;
  width: 100%;
  padding: 15.5px 0;
  max-width: 320px;
  margin: auto;
  border: 2px solid #1C73DB;
  border-radius: 5px;
  text-align: center;
  font-size: 24px;
  color: #1C73DB;
  font-weight: bold;
  position: relative;
  transition: 0.4s ease;
}
body a.btn01:hover {
  background-color: #303A56;
  border: 2px solid #303A56;
  color: #fff;
  transition: 0.4s ease;
}
body a.btn01:hover::after {
  background-image: url(/newWindowF.svg);
}
body a.btn01::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 7%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  background-image: url(/newWindowB.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
}
body a.guide-line {
  display: block;
  background-color: #fff;
  width: 100%;
  padding: 10px 0;
  max-width: 256px;
  margin: auto;
  border-radius: 20px;
  text-align: center;
  font-size: 16px;
  color: #1C73DB;
  border: 2px solid #1C73DB;
  font-weight: bold;
  position: relative;
  transition: 0.4s ease;
}
body a.guide-line.top {
  margin-top: 8px;
}
@media (min-width: 575px) and (max-width: 1199px) {
  body a.guide-line.top {
    margin-left: 0;
    margin-right: auto;
  }
}
body a.guide-line:hover {
  background-color: #303A56;
  border: 2px solid #303A56;
  color: #fff;
  transition: 0.4s ease;
}
body ul {
  list-style: none;
}
body button {
  background: none;
  border: none;
  display: block;
  line-height: 0;
  cursor: pointer;
}
body button.newOrder {
  display: block;
  width: 100%;
  max-width: 320px;
  margin: auto;
  transition: 0.4s ease;
}
body button.newOrder:hover {
  opacity: 0.7;
  transition: 0.4s ease;
}
body button.videoThum {
  position: relative;
  transition: 0.4s ease;
  margin: auto;
  width: 100%;
}
@media (min-width: 768px) {
  body button.videoThum {
    max-width: 670px;
  }
}
body button.videoThum.hidden {
  opacity: 0;
  transition: 0.4s ease;
}
body img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
body h2 {
  font-weight: bold;
  font-size: 24px;
}
@media (min-width: 575px) {
  body h2 {
    font-size: 32px;
  }
}
@media (min-width: 768px) {
  body h2 {
    font-size: 40px;
  }
}
body h2 span.en {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
}
@media (min-width: 575px) {
  body h2 span.en {
    font-size: 24px;
  }
}
body h2 span.color {
  color: #1C73DB;
}
body p {
  text-align: justify;
}
body p.base16 {
  font-size: 16px;
}
body p.base16.top {
  color: #303A56;
  text-align: center;
  margin-top: 20px;
  line-height: 1.8;
}
@media (min-width: 575px) {
  body p.base16.top {
    margin-top: 50px;
  }
}
@media (min-width: 768px) {
  body p.base16.top {
    max-width: 762px;
    margin: 50px auto 0;
  }
}
@media (min-width: 1200px) {
  body p.base16.top {
    max-width: 1096px;
  }
}
body .container {
  width: 100%;
  margin: auto;
  padding: 0 25px;
}
@media (min-width: 1500px) {
  body .container {
    max-width: 1320px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (min-width: 575px) {
  .spOnly {
    display: none;
  }
}

@media (min-width: 768px) {
  .tab-only {
    display: none;
  }
}

header {
  height: 100px;
  border-bottom: 1px solid #8F98C6;
}
header .header-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  padding: 0px 20px;
}
@media (min-width: 769px) {
  header .header-container {
    flex-direction: row-reverse;
  }
}
@media (min-width: 992px) {
  header .header-container {
    padding: 0px 90px;
  }
}
header .header-container .logo-area {
  display: flex;
}
header .header-container .menu-box {
  position: relative;
  z-index: 1;
}
@media (min-width: 769px) {
  header .header-container .menu-box button {
    display: none;
  }
}
header .header-container .menu-box nav {
  display: none;
}
@media (min-width: 769px) {
  header .header-container .menu-box nav {
    display: block;
  }
}
header .header-container .menu-box nav ul {
  display: flex;
  justify-content: space-between;
}
header .header-container .menu-box nav ul.main {
  width: 424px;
  height: 18px;
}
header .header-container .menu-box nav ul li:first-child {
  position: relative;
}
header .header-container .menu-box nav ul li:first-child::after {
  content: "";
  width: 8px;
  height: 8px;
  border-top: solid 2px #303A56;
  border-right: solid 2px #303A56;
  position: absolute;
  right: -20px;
  transform: rotate(135deg);
  top: 5px;
  transition: 0.6s ease;
}
header .header-container .menu-box nav ul li:first-child:hover::after {
  transform: rotate(-45deg);
  transition: 0.6s ease;
}
header .header-container .menu-box nav ul li:first-child:hover .sub {
  opacity: 1;
  transition: 0.6s ease;
  visibility: visible;
}
header .header-container .menu-box nav ul li a {
  color: #303A56;
  font-weight: bold;
  letter-spacing: 0.4px;
}
header .header-container .menu-box nav ul li a:hover {
  color: #8F98C6;
  text-decoration: underline;
}
header .header-container .menu-box nav ul li .sub {
  visibility: hidden;
  display: block;
  position: absolute;
  top: 60px;
  right: 0;
  opacity: 0;
  transition: 1s ease;
}
header .header-container .menu-box nav ul li .sub li:first-child::after {
  content: none;
}
header .header-container .menu-box nav ul li .sub li a {
  color: #303A56;
  border: 1px solid #DDDDDD;
  height: 77px;
  line-height: 77px;
  margin-bottom: 1px;
  width: 270px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  display: block;
}
header .header-container .menu-box nav ul li .sub li a:hover {
  color: #8F98C6;
  text-decoration: underline;
}
header .menu-content {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  height: calc(100vh - 100px);
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
}
@media (min-width: 769px) {
  header .menu-content {
    display: none;
  }
}
header .menu-content.enter {
  opacity: 0;
}
header .menu-content.enterActive {
  opacity: 1;
  transition: opacity 0.5s ease;
}
header .menu-content.exit {
  opacity: 1;
}
header .menu-content.exitActive {
  opacity: 0;
  transition: opacity 0.5s ease;
}
header .menu-content ul.main {
  padding-left: 55px;
  padding-top: 42px;
}
header .menu-content ul.main li {
  margin-bottom: 47px;
}
header .menu-content ul.main li a {
  color: #000;
}
header .menu-content li ul.sub li {
  padding-left: 15px;
  margin-top: 21px;
  margin-bottom: 0;
}
header .menu-content li ul.sub li:first-child {
  margin-top: 8px;
}
header .menu-content li ul.sub li a {
  color: #1C73DB;
}
header .menu-content li a {
  font-weight: bold;
  letter-spacing: 0.4px;
}
header .menu-content .header-sns {
  background-color: #111940;
  height: 90px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
header .menu-content .header-sns .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 258px;
  margin: auto;
  height: 100%;
  width: 100%;
}

.modalUp.enter {
  opacity: 0;
}
.modalUp.enterActive {
  opacity: 1;
  transition: opacity 0.5s ease;
}
.modalUp.exit {
  opacity: 1;
}
.modalUp.exitActive {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.section-margin {
  margin-top: 50px;
}
@media (min-width: 575px) {
  .section-margin {
    margin-top: 70px;
  }
}
@media (min-width: 768px) {
  .section-margin {
    margin-top: 115px;
  }
}
@media (min-width: 1200px) {
  .section-margin {
    margin-top: 150px;
  }
}

.underPage-h1 {
  font-size: 24px;
  color: #303A56;
  line-height: 37px;
  margin-top: 24px;
  margin-bottom: 30px;
  position: relative;
  padding-bottom: 30px;
}
@media (min-width: 575px) {
  .underPage-h1 {
    font-size: 32px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
  }
}
@media (min-width: 768px) {
  .underPage-h1 {
    font-size: 40px;
  }
}
.underPage-h1 span {
  display: block;
  line-height: 23px;
  font-size: 16px;
  color: #1C73DB;
  margin-bottom: 6px;
}
.underPage-h1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -25px;
  background-image: url(/under/h1deco-sp.svg);
  background-repeat: no-repeat;
  width: 313px;
  height: 23px;
}
@media (min-width: 768px) {
  .underPage-h1::before {
    background-image: url(/under/h1deco-pc.svg);
    width: 371px;
    right: 0;
  }
}

.site-h3 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
@media (min-width: 575px) {
  .site-h3 {
    margin-bottom: 55px;
  }
}
@media (min-width: 768px) {
  .site-h3 {
    margin-bottom: 64px;
  }
}
.site-h3 h3 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #1C73DB;
  margin: 0 20px;
}
.site-h3::before {
  content: "";
  border-top: 4px dotted #1C73DB;
  width: 100%;
}
.site-h3::after {
  content: "";
  border-top: 4px dotted #1C73DB;
  width: 100%;
}

@media (min-width: 1200px) {
  .link-flex-box {
    display: flex;
    justify-content: space-between;
  }
}
.link-flex-box .box {
  margin-bottom: 35px;
}
@media (min-width: 575px) and (max-width: 1199px) {
  .link-flex-box .box {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .link-flex-box .box {
    width: 32%;
  }
}
.link-flex-box .box .img {
  width: 100%;
}
@media (min-width: 575px) and (max-width: 1199px) {
  .link-flex-box .box .img {
    width: 48%;
  }
}
.link-flex-box .box .img a {
  transition: 0.4s ease;
}
.link-flex-box .box .img a:hover {
  opacity: 0.7;
}
.link-flex-box .box .text {
  width: 100%;
}
@media (min-width: 575px) and (max-width: 1199px) {
  .link-flex-box .box .text {
    width: 48%;
  }
}
.link-flex-box .box .text .title-style {
  font-size: 16px;
  font-weight: bold;
  line-height: 23px;
  padding-left: 25px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 5px;
}
.link-flex-box .box .text .title-style a {
  color: #303A56;
}
@media (min-width: 575px) and (max-width: 1199px) {
  .link-flex-box .box .text .title-style {
    margin-top: 0;
  }
}
@media (min-width: 575px) {
  .link-flex-box .box .text .title-style {
    font-size: 24px;
    line-height: 37px;
  }
}
.link-flex-box .box .text .title-style::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  background-image: url(/top/h4.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 17px;
  height: 17px;
}
.link-flex-box .box .text p {
  font-size: 14px;
}
@media (min-width: 1200px) {
  .link-flex-box .box .text p {
    font-size: 16px;
  }
}

.footer {
  background-color: #111940;
  padding-top: 45px;
}
.footer .sns-flame {
  display: flex;
  justify-content: space-between;
  max-width: 230px;
  margin: auto;
  width: 100%;
  align-items: center;
  margin-bottom: 22px;
}
@media (min-width: 575px) {
  .footer .sns-flame {
    margin-bottom: 40px;
  }
}
@media (min-width: 768px) {
  .footer .sns-flame {
    margin-bottom: 70px;
  }
}
@media (min-width: 1200px) {
  .footer .sns-flame {
    margin-bottom: 100px;
    max-width: 265px;
  }
}
.footer .sns-flame .icon a {
  transition: 0.3s ease;
  display: block;
  background-repeat: no-repeat;
  background-size: contain, 0 0;
}
.footer .sns-flame .icon a:hover {
  transition: 0.3s ease;
  background-size: 0 0, contain;
}
.footer .sns-flame .icon a.twitter {
  background-image: url(/defa-tw.svg), url(/hov-tw.svg);
  width: 23px;
  height: 20px;
}
.footer .sns-flame .icon a.instagram {
  background-image: url(/defa-insta.svg), url(/hov-insta.svg);
  width: 23px;
  height: 23px;
}
.footer .sns-flame .icon a.discord {
  background-image: url(/defa-discord.svg), url(/hov-discord.svg);
  width: 24px;
  height: 17px;
}
.footer .sns-flame .icon a.tiktok {
  background-image: url(/defa-tiktok.svg), url(/hov-tiktok.svg);
  width: 20px;
  height: 25px;
}
.footer .sns-flame .icon a.opensea {
  background-image: url(/defa-open.svg), url(/hov-open.svg);
  width: 23px;
  height: 23px;
}
.footer .sns-flame .icon a.line {
  background-image: url(/defa-line.svg), url(/hov-line.svg);
  width: 32px;
  height: 32px;
}
.footer .footer-menu {
  padding-left: 50px;
}
@media (min-width: 1200px) {
  .footer .footer-menu {
    padding-left: 0;
    max-width: 1100px;
    margin: auto;
  }
}
.footer .footer-menu nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer .footer-menu nav ul.box {
  width: 100%;
}
@media (min-width: 575px) {
  .footer .footer-menu nav ul.box {
    width: 50%;
  }
  .footer .footer-menu nav ul.box.order02 {
    order: 3;
  }
  .footer .footer-menu nav ul.box.order03 {
    order: 2;
  }
}
@media (min-width: 1200px) {
  .footer .footer-menu nav ul.box {
    width: 30%;
  }
  .footer .footer-menu nav ul.box.order02 {
    order: 2;
    text-align: center;
    width: auto;
  }
  .footer .footer-menu nav ul.box.order02 li {
    text-align: left;
    display: inline-block;
  }
  .footer .footer-menu nav ul.box.order03 {
    order: 3;
    text-align: right;
  }
}
.footer .footer-menu nav ul.sub {
  margin-top: -20px;
  padding-left: 20px;
}
@media (min-width: 1200px) {
  .footer .footer-menu nav ul.sub {
    margin-top: -10px;
  }
}
@media (min-width: 768px) {
  .footer .footer-menu nav ul.sub a {
    font-weight: normal;
  }
}
.footer .footer-menu nav ul li a {
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  margin-bottom: 22px;
  display: block;
}
@media (min-width: 768px) {
  .footer .footer-menu nav ul li a {
    font-size: 16px;
    font-weight: bold;
  }
}
.footer .footer-logo {
  text-align: center;
  padding-bottom: 16px;
}
@media (min-width: 575px) {
  .footer .footer-logo {
    padding-bottom: 30px;
  }
}
.footer .footer-logo img {
  display: block;
  max-width: 52px;
  margin: auto;
}
@media (min-width: 768px) {
  .footer .footer-logo img {
    max-width: 78px;
    margin: 25px auto 0;
  }
}
/*# sourceMappingURL=globals.css.map */